# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

df = pd.read_csv("file1.csv")

print("Number of rows: ",df.shape[0])
print("Number of columns: ",df.shape[1])

print("Column types: ","\n",df.dtypes)

Number of rows:  4008
Number of columns:  11
Column types:
 Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

### 1. Type of Column "Income" and "Monthly Premium Auto" can be switched to type integer since it seems like we're only inputting integers into this column.
### 2. The CLV should not be a percentage and should be then changed to a float after removing.

In [2]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [3]:
df= df.dropna()
df = df.reset_index(drop=True)

In [4]:
df["Monthly Premium Auto"]= df["Monthly Premium Auto"].astype("int64")
df["Income"] = df["Income"].astype(dtype= "int64")

In [5]:
df["Customer Lifetime Value"]= df["Customer Lifetime Value"].str.replace("%","")
df["Customer Lifetime Value"]= df["Customer Lifetime Value"].astype(dtype="float64")

In [6]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [7]:
df.nunique()

Customer                     952
ST                             8
GENDER                         5
Education                      6
Customer Lifetime Value      921
Income                       688
Monthly Premium Auto         128
Number of Open Complaints      6
Policy Type                    3
Vehicle Class                  6
Total Claim Amount           688
dtype: int64

#### Columns GENDER, EDUCATION, POLICY TYPE, and VEHICLE CLASS are categorical.

In [8]:
df["GENDER"].unique() ## the GENDER column needs to be cleaned

array(['F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [9]:
df["GENDER"] = df["GENDER"].replace("Femal","F")
df["GENDER"] = df["GENDER"].replace("Male","M")
df["GENDER"] = df["GENDER"].replace("female","F")

In [10]:
df["Education"].unique() ## Also  needs cleaning since Bachlor and Bachelors are the same

array(['Bachelor', 'High School or Below', 'College', 'Master',
       'Bachelors', 'Doctor'], dtype=object)

In [11]:
df["Education"] = df["Education"].replace("Bachelor","Bachelors")

In [12]:
df["Policy Type"].unique() ## There are three different type of policies: personal,corporate, and special

array(['Personal Auto', 'Corporate Auto', 'Special Auto'], dtype=object)

In [13]:
df["Vehicle Class"].unique() ## There are 6 different classes of vehicles

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Sports Car', 'Luxury Car',
       'Luxury SUV'], dtype=object)

In [14]:
x,y = df["Income"].max(),df["Income"].dropna().min()

print("Range of Income:",x-y)

i,j = df["Monthly Premium Auto"].max(),df["Monthly Premium Auto"].min()

print("Range of Monthly Premium Auto:",i-j)

n,p = df["Total Claim Amount"].max(),df["Total Claim Amount"].min()

print("Range of Total Claim Amount:",n-p)

Range of Income: 99960
Range of Monthly Premium Auto: 35293
Range of Total Claim Amount: 2892.857571

#### As we can see, the incomes of our clients vary significantly.

In [16]:
df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,9.520000e+02,952.000000,952.000000,952.000000
mean,7.942013e+05,39557.350840,205.231092,404.999156
std,6.258792e+05,30744.561851,1697.752504,299.238726
min,2.004351e+05,0.000000,61.000000,0.382107
25%,4.117836e+05,13087.750000,68.000000,196.724587
50%,5.885745e+05,36632.000000,83.000000,350.400000
75%,9.037509e+05,65085.500000,110.000000,534.000000
max,4.479547e+06,99960.000000,35354.000000,2893.239678

In [17]:
print("Median of Incomes:",df["Income"].median())
print("Median of Monthly Premium Auto:",df["Monthly Premium Auto"].median())
print("Median of Total Claim Amount:",df["Total Claim Amount"].median())

Median of Incomes: 36632.0
Median of Monthly Premium Auto: 83.0
Median of Total Claim Amount: 350.4

In [18]:
print("Mode of Incomes:",df["Income"].mode())
print("Mode of Monthly Premium Auto:",df["Monthly Premium Auto"].mode())
print("Mode of Total Claim Amount:",df["Total Claim Amount"].mode())

Mode of Incomes: 0    0
Name: Income, dtype: int64
Mode of Monthly Premium Auto: 0    65
Name: Monthly Premium Auto, dtype: int64
Mode of Total Claim Amount: 0    321.6
Name: Total Claim Amount, dtype: float64

### Statistics for Categorical Columns

In [19]:
print("Most popular client Gender:",df["GENDER"].mode())
print("Most popular client education level:",df["Education"].mode())
print("Mode popular policy type among clients:",df["Policy Type"].mode())
print("Mode popular vehicle class among clients:",df["Vehicle Class"].mode())

Most popular client Gender: 0    F
Name: GENDER, dtype: object
Most popular client education level: 0    Bachelors
Name: Education, dtype: object
Mode popular policy type among clients: 0    Personal Auto
Name: Policy Type, dtype: object
Mode popular vehicle class among clients: 0    Four-Door Car
Name: Vehicle Class, dtype: object

1. Most of the clients are females.
2. Most of the clients have a bachelor's degree.
3. Most of the clients buy the car for personal luxury.
4. The most popular vehicle class among clients is the Four-Door Car.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [20]:
s = df['ST'].value_counts()

s = s.sort_values()

less_common = s.head(5)

print(s)
print("\n")
print(less_common)

ST
AZ             14
WA             29
Washington     77
Nevada         89
Cali          119
Arizona       174
California    174
Oregon        276
Name: count, dtype: int64


ST
AZ             14
WA             29
Washington     77
Nevada         89
Cali          119
Name: count, dtype: int64

#### We can also notice that the ST needs cleaning, since WA is the same as Washington and AZ as Arizona and Cali as California.

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [77]:
q = df["Total Claim Amount"].quantile(q=0.75)

strn = df.loc[df["Total Claim Amount"]>q]

strn = strn.reset_index(drop=True)


strn[["Income","Monthly Premium Auto","Customer Lifetime Value","Policy Type","GENDER"]].groupby(["Policy Type","GENDER"]).mean()

                             Income  Monthly Premium Auto  \
Policy Type    GENDER
Corporate Auto F       38356.560000            109.440000
               M       23984.031250            132.031250
Personal Auto  F       21285.202247            249.752809
               M       21579.620253            125.329114
Special Auto   F       30410.375000            125.125000
               M       28301.600000            121.200000

                       Customer Lifetime Value
Policy Type    GENDER
Corporate Auto F                 856476.744000
               M                 907975.601250
Personal Auto  F                 872316.926292
               M                 961164.852532
Special Auto   F                 928300.021250
               M                 961007.182000

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [89]:
n = df["Policy Type"].value_counts()

print("Most sold Policy Type:",n.idxmax())

Most sold Policy Type: Personal Auto

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [109]:
p_auto = df.loc[df["Policy Type"]=="Personal Auto"]
c_auto = df.loc[df["Policy Type"]=="Corporate Auto"]

In [128]:
avg_inc_p = p_auto["Income"].mean(axis=0)
avg_inc_c = c_auto["Income"].mean(axis=0)

In [129]:
print("Average income of clients with Personal Auto Policy Type:",avg_inc_p )
print("Average income of clients with Corporate Auto Policy Type:",avg_inc_c )

Average income of clients with Personal Auto Policy Type: 38643.96081277214
Average income of clients with Corporate Auto Policy Type: 41034.50710900474

#### We notice that the average income of clients with a "Corporate Auto" policy type is higher than that of clients with a "Personal Auto" policy type.